/* General Styles */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.body-links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.body-links:hover {
  text-decoration: underline;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
  font-weight: 800;
}

/* Main Content */
#main-content {
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Start with the content hidden */
}

#main-content.fade-in {
  opacity: 1; /* Fade in to full opacity */
}

#main-content.fade-out {
  opacity: 0; /* Fade out to hidden */
}

/* Initial hidden state */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Fade-in effect */
.fade-in {
  opacity: 1;
}

/* Navbar */
.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Add this to position the navbar-links relative to the container */
}

.navbar .navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

.navbar .navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 20px 100px 20px 0;
  display: flex;
}

.navbar .navbar-links ul li {
  margin-left: 20px;
}

.navbar .navbar-links ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-toggler {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.navbar .navbar-toggler span {
  font-size: 1.5em;
}

.navbar .navbar-links.active {
  display: flex;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
  color: #fff !important;
}

/* Header */
#header {
  padding: 150px 0;
  text-align: center;
}

#header h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

/* Sections */
.section-padding {
  padding: 100px 50px;
}

#description {
  font-size: 20px;
  margin: 5px 300px 0 300px;
  padding: 150px;
  text-transform: uppercase;
  font-weight: 400;
}

#services ul {
  list-style: none;
  padding: 0;
}

/* Footer */
.footer {
  background-color: #000;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 20px;
  text-align: left;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.footer .created-by {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
}

.rights-reserved {
  opacity: 0.5;
}

/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-image img {
  border-radius: 50%;
  width: 350px; /* Adjusted size */
  height: 350px; /* Adjusted size */
  object-fit: cover;
  margin-bottom: 20px;
  padding-bottom: 20px; /* Add padding at the bottom */
}

.about-content {
  max-width: 800px;
  text-align: left;
}

.about-content h2 {
  font-size: 24px;
  margin-top: 20px;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  margin-bottom: 10px;
}

/* Projects Section */
#projects {
  padding: 0 0 150px 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-card a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Photography Section */

#photography-introduction {
  margin: 5px 300px;
  padding: 150px;
  text-align: center;
  line-height: 1.6;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.service-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.logo {
  max-width: 200px; /* Adjust the size as needed */
  margin-top: 20px; /* Add some space above the logo */
}

.button-container {
  text-align: center;
  margin: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #1a1a1a; /* Match the background color of service cards */
  border: 1px solid #333; /* Match the border color of service cards */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #333; /* Darken the background color on hover */
  color: #fff; /* Ensure the text color remains white */
}

/* Gallery Section */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 100px;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

/* Media Queries */

/* Mobile Devices (up to 767px) */
@media (max-width: 767px) {
  /* Styles for mobile devices */

  #description,
  #photography-introduction {
    margin: 5px 20px;
    padding: 10px;
  }

  #header h1 {
    font-size: 50px;
  }

  .navbar .navbar-links {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px); /* Adjust width to fit within the viewport */
    position: absolute;
    top: 100%; /* Position the links directly under the toggler */
    right: 10px; /* Add some margin to the right */
    background-color: #000;
    padding: 10px;
    border: 1px solid #fff;
    align-items: center; /* Center the links */
    max-height: 0; /* Start with the links hidden */
    overflow: hidden; /* Prevent overflow */
    transition: max-height 0.7s ease, opacity 0.7s ease 0.1s; /* Add transition for smooth effect */
    opacity: 0; /* Start with the links hidden */
  }

  .navbar .navbar-links.active {
    max-height: 500px; /* Adjust this value as needed */
    opacity: 1; /* Fade in the links */
  }

  .navbar .navbar-links ul {
    flex-direction: column;
    padding: 0;
    align-items: center; /* Center the links */
  }

  .navbar .navbar-links ul li {
    margin: 10px 0;
  }

  .navbar .navbar-toggler {
    display: block;
  }
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  #description,
  #photography-introduction {
    margin: 5px 100px;
    padding: 50px;
  }

  #header h1 {
    font-size: 75px;
  }
}

/* Small Desktops/Laptops (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  /* Styles for small desktops/laptops */

  #photography-introduction, #description {
	margin: 5px 10px;
	padding: 100px;
  }
}

/* Large Desktops (1440px and above) */
@media (min-width: 1440px) {
  /* Styles for large desktops */
  #description {
    margin: 5px 400px;
    padding: 200px;
  }
}

