/* Apply Satoshi font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Monterrant', sans-serif; */
  font-family: "Antonio", sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
#main-content {
	transition: opacity 0.5s ease-in-out;
	opacity: 0; /* Start with the content hidden */
  }
  
  #main-content.fade-in {
	opacity: 1; /* Fade in to full opacity */
  }
  
  #main-content.fade-out {
	opacity: 0; /* Fade out to hidden */
  }

.body-links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.body-links:hover {
  text-decoration: underline;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

.navbar .navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 20px 100px 20px 0;
  display: flex;
}

.navbar .navbar-links ul li {
  margin-left: 20px;
}

.navbar .navbar-links ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar .navbar-toggler span {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .navbar .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar .navbar-links.active {
    display: flex;
  }

  .navbar .navbar-toggler {
    display: block;
  }
}

.navbar-nav .nav-link {
  color: #fff !important;
}

#header {
  padding: 150px 0;
  text-align: center;
}

#header h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.section-padding {
  padding: 100px 50px;
}
#description {
  font-size: 20px;
  margin: 5px 300px 0 300px;
  padding: 150px;
  text-transform: uppercase;
  font-weight: 400;
}
#services ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #000;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 20px;
  text-align: left;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.rights-reserved {
  opacity: 0.5;
}

/* styles for the navbar toggler icon */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-image img {
  border-radius: 50%;
  width: 350px; /* Adjusted size */
  height: 350px; /* Adjusted size */
  object-fit: cover;
  margin-bottom: 20px;
  padding-bottom: 20px; /* Add padding at the bottom */
}

.about-content {
  max-width: 800px;
  text-align: left;
}

.about-content h2 {
  font-size: 24px;
  margin-top: 20px;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 1024px) {
  #description {
    margin: 5px 100px;
    padding: 50px;
  }
}
@media (max-width: 768px) {
  #description {
    margin: 5px 20px;
    padding: 10px;
  }
}
@media (min-width: 1440px) {
  #description {
    margin: 5px 400px;
    padding: 200px;
  }
}
@media (max-width: 1024px) {
  #header h1 {
    font-size: 75px;
  }
}
@media (max-width: 768px) {
  #header h1 {
    font-size: 50px;
  }
}

/* Projects */

#projects {
  padding: 0 0 150px 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-card a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Photography */

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.service-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
