---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<div id="main-content">
      <section id="header" class="text-center">
        <h1>About Me</h1>
      </section>
      <section id="about" class="text-center">
        <div class="about-container">
          <div class="about-image">
            <img src="/images/copyright-headshot.JPG" alt="brandon hernandez" />
          </div>
          <div class="about-content">
            <p>
              Brandon Hernandez is a software engineer and creative storyteller,
              combining technical expertise with a passion for visual art to
              bring ideas to life. With a background in software development and
              a keen eye for design, solutions are created that are both
              functional and aesthetically pleasing.
            </p>
            <h2>Skills</h2>
            <ul>
              <li>Programming Languages: C#, JavaScript, Python</li>
              <li>Frameworks: .NET, Node.js, React</li>
              <li>Tools: Git, Docker, SQL Server</li>
              <li>Other: Agile Methodologies, Project Management</li>
            </ul>
            <h2>Experience</h2>
            <p>
              Various projects have been worked on, ranging from web
              applications to embedded systems. Experience includes developing
              software solutions for Harris County, leading capstone projects at
              the University of Houston-Clear Lake, serving as a peer mentor to
              other students, working as a research intern at NASA Johnson Space
              Center in behavioral health science, and managing teams to deliver
              high-quality products on time. Additionally, Brandon is a business
              owner.
            </p>
            <h2>Education</h2>
            <p>
              Holding both a Bachelor's and a Master's degree in Computer
              Engineering from the University of Houston-Clear Lake, the
              education provided a comprehensive understanding of software
              engineering principles and practices, as well as advanced
              knowledge in computer engineering.
            </p>
          </div>
        </div>
      </section>
    </div>

<Footer />