---

import Layout from '../layouts/Layout.astro';
---
<Layout>




<section id="header" class="text-center">
  <h1>Brandon Hernandez</h1>
</section>
<div id="main-content" class="">
  <section id="description" class="text-center">
    <p>
      A software engineer and creative storyteller, combining technical
      expertise and a passion for visual art to bring ideas to life.
    </p>
  </section>
  <section id="about-me" class="text-left section-padding">
    <h2>
      Hello there, <br />
      meet Brandon.
    </h2>
    <p>
      Brandon Hernandez is a software engineer with a passion for visual
      art. He has a background in software development and a keen eye for
      design, creating solutions that are both functional and aesthetically
      pleasing.
    </p>
    <p>
      <a href="/about" class="body-links">Read more</a>
    </p>
  </section>
</div>
</Layout>