/* Apply Satoshi font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-size: small;
}

.navbar .navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 20px 100px 20px 0;
  display: flex;
}

.navbar .navbar-links ul li {
  margin-left: 20px;
}

.navbar .navbar-links ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar .navbar-toggler span {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .navbar .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar .navbar-links.active {
    display: flex;
  }

  .navbar .navbar-toggler {
    display: block;
  }
}

.navbar-nav .nav-link {
  color: #fff !important;
}

#header {
  padding: 150px 0;
  text-align: center;
}

#header h1 {
  font-size: 100px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #header h1 {
    font-size: 50px;
  }
}

#description {
  font-size: 20px;
  margin: 5px 300px 0 300px;
  padding: 150px;
}
@media (max-width: 768px) {
  #description {
    margin: 5px 20px;
    padding: 10px;
  }
}

#projects {
	  padding: 0 0 150px 0;
}

.project-card{
	text-transform: lowercase;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  opacity: 0.5;
}

/* styles for the navbar toggler icon */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.project-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.project-card a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}
