---

import Layout from '../layouts/Layout.astro';
---
<Layout>


 <div id="main-content">
      <section id="hero" class="hero-section">
   <img src="/images/copyright-01082-min.jpg" alt="Sample Work" class="hero-bg" />
    <div class="hero-overlay">
		<img src="/images/BHP WHITE LOGO 2.png" alt="Brandon Hernandez Photography Logo" class="hero-logo" />
      <h1>Photography</h1>
      <p>Capturing Timeless Moments in Houston, TX</p>
      <a href="#gallery" class="btn">View Gallery</a>
    </div>
  </section>
      <section id="photography-introduction" class="section-padding">
        <p>
          Brandon Hernandez is a freelance photographer and filmmaker based in
          Houston, TX. His goal is to create timeless visuals that capture your
          unique story, whether through professional photography or videography.
          From intimate events to grand celebrations or simple photoshoots, he
          is here to bring your vision to life and preserve those precious
          moments.
        </p>
      </section>
      <section id="services" class="section-padding text-center">
        <h2>Services</h2>
        <div class="services-container">
          <div class="service-card">
			<i class="fa-solid fa-camera-retro service-icon"></i>
            <h3>Photography</h3>
            <p>
              Professional photography services for events, portraits, and more.
            </p>
          </div>
          <div class="service-card">
			<i class="fa-solid fa-video service-icon"></i>
            <h3>Videography</h3>
            <p>
              High-quality videography services to capture your special moments.
            </p>
          </div>
          <div class="service-card">
			<i class="fa-solid fa-film service-icon"></i>
            <h3>Film Photography</h3>
            <p>Classic film photography for a timeless look and feel.</p>
          </div>
          <div class="service-card">
			<i class="fa-solid fa-file-image service-icon"></i>
            <h3>Film Scanning</h3>
            <p>
              Professional film scanning services to digitize your memories.
            </p>
          </div>
        </div>
      </section>
      <section id="gallery" class="text-center">
        <h2>Gallery</h2>
        <div class="gallery-container">
          <div class="gallery-item">
            <img src="/images/copyright-00057-min.jpg" alt="Photo 1" />
          </div>
          <div class="gallery-item">
            <img src="/images/copyright-00948-min.jpg" alt="Photo 2" />
          </div>
          <div class="gallery-item">
            <img src="/images/copyright-01082-min.jpg" alt="Photo 3" />
          </div>
          <div class="gallery-item">
            <img src="/images/copyright-03696-min.jpg" alt="Photo 4" />
          </div>
          <div class="gallery-item">
            <img src="/images/copyright-08997-2-min.jpg" alt="Photo 5" />
          </div>
          <div class="gallery-item">
            <img src="/images/Main_copyright--89-min.jpg" alt="Photo 6" />
          </div>
        </div>
        <div class="button-container">
          <a
            href="https://brandonhernandezphotography.hbportal.co/public/inquiry"
            class="btn"
            >Submit Inquiry</a
          >
        </div>
      </section>
    </div>

</Layout>