<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">brandon hernandez</a>
    </div>
    <div class="navbar-links" id="navbar-links">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/photography">photography</a></li>
      </ul>
    </div>
  </div>
</nav>

