<footer class="footer">
  <div class="footer-links">
    <a
      href="https://www.linkedin.com/in/hbrandon15/"
      target="_blank"
      rel="noopener"
    >LinkedIn</a>
    |
    <a
      href="https://github.com/hbrandon15"
      target="_blank"
      rel="noopener"
    >GitHub</a>
  </div>
  <p class="rights-reserved">
    &copy; 2025 Brandon Hernandez. All rights reserved.
  </p>
  <p class="created-by">Website created by Brandon Hernandez.</p>
</footer>